<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GitUpdater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <runtime>
        <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
    </runtime>
    <userSettings>
        <GitUpdater.My.MySettings>
            <setting name="DontClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DontShow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoWait" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="Repeat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="Username" serializeAs="String">
                <value/>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="OpenLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowErrors" serializeAs="String">
                <value>True</value>
            </setting>
        </GitUpdater.My.MySettings>
    </userSettings>
</configuration>
